<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds"
	debug="false">
	<property name="logback.logdir" value="logs" />
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} [line:%line] %msg%n</pattern>
		</layout>
	</appender>

	<appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>

		<File>${logback.logdir}/error.log</File>
		 <!--滚动策略，按照时间滚动 TimeBasedRollingPolicy -->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			 <!--文件路径,定义了日志的切分方式——把每一天的日志归档到一个文件中,以防止日志填满整个磁盘空间 -->
			<FileNamePattern>${logback.logdir}/error.%d{yyyy-MM-dd}.log</FileNamePattern>
			 <!--只保留最近30天的日志 -->
			<maxHistory>30</maxHistory>
			 <!--用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志 -->
			 <!--<totalSizeCap>1GB</totalSizeCap> -->
		</rollingPolicy>
		 <!--日志输出编码格式化 -->
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} [line:%line] %msg%n
			</pattern>
		</encoder>
	</appender>


	<appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			 <!--过滤 info -->
			<level>INFO</level>
			 <!--匹配到就禁止 -->
			<onMatch>ACCEPT</onMatch>
			 <!--没有匹配到就允许 -->
			<onMismatch>DENY</onMismatch>
		</filter>

		<File>${logback.logdir}/info.log</File>
		 <!--滚动策略，按照时间滚动 TimeBasedRollingPolicy -->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			 <!--文件路径,定义了日志的切分方式——把每一天的日志归档到一个文件中,以防止日志填满整个磁盘空间 -->
			<FileNamePattern>${logback.logdir}/info.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			 <!--只保留最近30天的日志 -->
			<maxHistory>30</maxHistory>
			 <!--用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志 -->
			 <!--<totalSizeCap>1GB</totalSizeCap> -->
		</rollingPolicy>
		 <!--日志输出编码格式化 -->
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} [line:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

<!-- 
    <logger name="org.springframework.web" level="info" additivity="false">
        <appender-ref ref="console" />
    </logger>
     <logger name="org.springframework.jdbc" level="debug" additivity="false">
        <appender-ref ref="console" />
    </logger>
    <logger name="org.springframework.transaction" level="debug" additivity="false">
        <appender-ref ref="console" />
    </logger>
-->

<!--  
    <logger name="com.beyondsoft.itsm.modules" level="debug" additivity="false">
        <appender-ref ref="console" />
    </logger>
    -->
	 
	<root level="debug">
		<appender-ref ref="console" />
		<appender-ref ref="info" />
		<appender-ref ref="error" />
	</root>
</configuration>